:root {
  --grid-rows: 16;
  --grid-columns: 16;
  --bg-color: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;

}



.container {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  /* justify-content: baseline; */
  /* align-content: center; */
  /* margin: 1px; */
  width: 80%;
  height: 80%;
  border: 1px solid lightgray;
  /* box-sizing: border-box; */

}

.rows {
  /* box-sizing: border-box; */
  /* display: flex; */
  /* padding: 5px; */
  /* margin: 1px; */
  border: 1px solid lightgray;
}

.rows:hover {

  background-color: var(--bg-color);
}